/*FONTS*/
@font-face {
    font-family: harry-fat;
    src: url('./assets/fonts/harry-fat.otf');
}

@font-face {
    font-family: harry-heavy;
    src: url('./assets/fonts/harry-heavy.otf');
}

@font-face {
    font-family: now-medium;
    src: url('./assets/fonts/Now-Medium.otf');
}

@font-face {
    font-family: now-light;
    src: url('./assets/fonts/now-light.otf');
}

/*BASIC_STYLING*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/*COLORS*/
:root {
    --blue-color: #4d4bcb;
    --brighter-blue-color: #5a58df;
    --green-color: #c7e87d;
    --gray-color: #eaf5f8;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}